# Pyc/pyo/backup files.
*.py[co]
*~
*.swp
*.pyc

# Packages/buildout/pip/pipenv
*.egg
*.egg-info
sdist
pip-log.txt
src
bower_components/
node_modules/
.DS_Store
doc/build/
ansible/*.retry
.venv

# We're a library, so we want a fresh lockfile
Pipfile.lock

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov
.codeintel
coverage.xml
.pytest_cache

# Pycharm
.idea

# Docker
docker-compose.override.yml

# Visual Code
.vscode
